/* ==========================================================================
   Author : lovey@hostnsoft.com
   date : Jan 2014 
   project : phone91 website
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, hr, input, textarea, select, radio, a { margin: 0; padding: 0; outline:none}
html, body button, input, select, textarea { color: #666666; font-family: 'Lato', sans-serif; font-weight:normal}
body { font-size: 14px; text-rendering: optimizeLegibility}
a { text-decoration:none }
a:focus { outline:none }
h1, h2, h3, h4, h5, h6, h7 { font-weight:normal }
hr { display: block; height: 2px; border: 0; border-top: 1px solid #ccc; border-bottom:1px solid #fff; margin: 20px 0}
img { vertical-align: middle}
.db { display:block}
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0}
.clear:before, .clear:after { content: " "; display: table}
.clear:after { clear: both}
.clear {
*zoom: 1; clear:both}
textarea, input, select, button, .boxsize { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
.ln { list-style:none }
.fwn { font-weight:normal }
.ligt { font-weight:300 }
.semi { font-weight:700 }
.bolder { font-weight:900 }
.rglr { font-weight:400 }
.alC { text-align:center }
.alR { text-align:right }
.fl { float:left }
.fr { float:right }
.pr { position:relative }
.ellp { text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
/*====common margin or paddings*/
.pdL3 { padding-left:30px }
.pdR3 { padding-right:30px }
.mrB4 { margin-bottom:40px }
.mrB6 { margin-bottom:60px }
.mrT3 { margin-top:30px }
/*=====writing theme  for css====*/
.themeClr, .box-link, a, .h4, .h3, .cnt-head { color: #296fa2}
.themeBg { background-color: #296fa2}
/*=====Error Text css====*/
.error_red, .error { color:#E65D39 }
.error_green, .valid { color:#4DAF7C }
input.error_red, #formwrap input.error_red, input.error, select.error, textarea.error { border:1px solid #E65D39; color:#E65D39 }
input.error_green, #formwrap input.error_green, input.valid, select.valid, textarea.valid { border:1px solid #4DAF7C; color:#4DAF7C }
/*yellow color*/
.warmClr { color: #ffcd53}
.warmBg { background-color: #ffcd53}
/*red color*/
.hotClr { color: #eb513f}
.hotBg, #home-container aside:hover { background-color: #eb513f}
/*grey color bg*/
.hgPart { background-color:#efefef; border:1px solid #c8c8c8}
/* ===== Structure Style ======*/
body{background:#fff; padding-top:56px;}
.wrapper { width: 1000px; margin: 0 auto; position:relative}
header {height: 56px; width: 100%; background:#f3f3f3; position:fixed; top:0; z-index:99}
/* ===== Header elements Style ======*/
header h1 { float: left; padding:8px 0}
header h1 a { font-size:24px; color: #296fa2; text-indent:-999em}
nav { float:right;}
nav ul { list-style:none }
nav li { float:right; position:relative}
.link > a:after { background-color:#296fa2; content: ""; display: block; height: 0; left: 0; position: absolute; top: 0; transition: height 0.3s ease 0s; width: 100%; z-index:-10}
.link a { position: relative; z-index: 11}
.link > a:hover:after, .link > a.active:after { height: 100%}
.link > a { display: block; padding: 15px 17px; font-weight: bold; color: #296fa2; line-height:26px}
nav ul li > a:hover, 
nav li.link > a.active { color: white}
ul.subnav li:hover nav li.link a:after, .link a.active:after { height: 100%}
.sign > a { color:#fff; display: block; margin:14px 0 14px 12px; padding:5px 15px 7px; font-weight: bold; 	background:#6b6b6b }
.signup > a { color:#fff; display: block; margin:14px 12px; padding:5px 15px 7px; font-weight: bold; 	background:#296fa2 }
.sign > a:hover { background:#296fa2}
nav ul li ul { position: absolute; z-index:10; left: 0; min-width: 120px; background: #fff; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); display:none; transition: all 5s linear}
.subnav li { float:none}
.subnav li a { padding:5px 10px; font-weight: bold; line-height:26px; display:block; color: #296fa2}
.subnav li a:hover { background:#f3f3f3; color:#333}
nav ul li:hover ul.subnav { display:block; transition: all 0.5s linear}
/* ======  MOBILE menu ======= */
#mob-trigger { display:none }
#mob-trigger a { padding:16px 20px; display:block;height:24px; float:right; color:#296fa2; font-weight:bold }
#mob-trigger a:hover, #mob-trigger a.active { background:#999; color:#fff}
.mobiletrigger { width:24px; height:24px; display:block; background:url(https://d2q70htueg64l7.cloudfront.net/icon-spirit.png) no-repeat 0 -100px}
#mobile-nav { background:#fff; width:100%; display:none}
#mobile-nav li > a { color:#666666; display:block; padding:7px 5%; text-transform:uppercase; border-bottom: 1px solid #eeeeee; border-top:1px solid #fff; line-height:26px}
#mobile-nav li > a:hover { background-color:#f4f4f4}
.mob-subnav li { margin-left:20px }
/* ======  common headings ======= */
.fs18 { font-size:18px }
.cnthead { font-size:36px; font-weight:lighter; color:#333333; line-height:42px; margin-bottom:40px }
.cnt-head { font-size:30px; line-height:42px}
.h3, .h3g { font-size:30px; margin-bottom:30px; text-align:center; line-height:30px}
.cnthead-sub { font-size:24px; margin-bottom:15px; text-align:center; line-height:24px}
.h4 { font-size:24px; margin-bottom:20px; line-height:25px}
.para16 { font-size:16px; line-height:28px; letter-spacing:1px; margin-bottom:20px}
/*====== social wrap =======*/
.social-wrap { background:#e8e8e8; padding:40px 0; border-top: 1px solid #C8C8C8}
.social-icon { margin:20px auto; width:256px}
.social-icon li { width:36px; height:36px; border-radius:50%; background:#666666; padding:7px; display:inline-block; margin-right:15px; -moz-transition: all 200ms ease 0s; -o-transition: all 200ms ease 0s; -webkit-transition: all 200ms ease 0s; transition: all 200ms ease 0s}
.social-icon li:hover { background-color: #296fa2}
.social-icon li.last { margin-right:0}
.social-icon li a { display:block; width:36px; height:36px; text-indent:-999em; background:url(https://d2q70htueg64l7.cloudfront.net/icon-spirit.png) no-repeat; -moz-transition: all 200ms ease 0s; -o-transition: all 200ms ease 0s; -webkit-transition: all 200ms ease 0s; transition: all 200ms ease 0s}
.social-icon li.gl a { background-position:0 -416px}
.social-icon li.fb a { background-position:-36px -416px}
.social-icon li.tw a { background-position:-72px -416px}
.social-icon li.in a { background-position:-108px -416px}
.social-icon li.sk a { background-position:-144px -416px}
.social-icon li.yt a { background-position:-180px -416px}
.social-icon li.gl:hover { background-color:#dd4b39 }
.social-icon li.gl:hover > a { background-position:0 -452px}
.social-icon li.fb:hover { background-color:#b5998 }
.social-icon li.fb:hover > a { background-position:-36px -452px}
.social-icon li.tw:hover { background-color:#9AE4E8 }
.social-icon li.tw:hover > a { background-position:-72px -452px}
.social-icon li.in:hover { background-color:#0e76a8 }
.social-icon li.in:hover > a { background-position:-108px -452px}
.social-icon li.sk:hover { background-color:#00aff0 }
.social-icon li.sk:hover > a { background-position:-144px -452px}
.social-icon li.yt:hover { background-color:#c4302b }
.social-icon li.yt:hover > a { background-position:-180px -452px}
/*======= footer section styles======*/
footer { background:#555555; color:#fff}
#top-ftr { padding:40px 0; border-bottom:1px solid #464646}
#bottom-ftr { height:44px; line-height:44px; font-size:12px}
.col4 { width:25%; float:left}
footer aside { width:70% }
footer h5 { font-size:20px; margin-bottom:15px}
#top-ftr a { color:#fff}
#top-ftr a, footer p { line-height:20px; margin-bottom:7px}
footer a:hover { text-decoration:underline; color:#ededed }
#bottom-ftr a { color:#ededed}
/*======= common banner style for all pages =======*/
#common-banner { padding:65px 0; color:#333333; font-weight:lighter}
#common-banner.warmBg { border:1px solid #e9b32e}
#common-banner aside { float:left; width:30%}
#common-banner aside.last { width:70%}
.ban-icon { padding:0 75px}
.ban-icon img { width:100% }
#common-banner h2 { font-size: 36px; line-height: 40px; margin-bottom:15px; font-weight:lighter}
#common-banner p { font-size:16px; line-height:28px; width:80%; margin-bottom:20px}
/*=========common button styles =========*/
.btn { line-height:22px; padding:8px 25px 10px; background-color: #296fa2; font-size:18px; color:#fff; text-shadow: #134d77 0 1px 2px; font-weight:normal; transition: all 0.2s ease 0s}
input[type="submit"].btn, button.btn { border:0}
.btn:hover { background-color: #434343; border-color:#434343 }
.btn-primary { background-color: #ffcd53; text-shadow: #e9b330 0 1px 2px}
.btn.btn-block { width:100%; display:block; text-align:center }
.btn-large { line-height:inherit; padding:12px 40px 14px; font-size:24px}
.btn-danger { background:#dd4b39; text-shadow:#b52c1b 0 1px 2px; background: #eb513f; border: 1px solid #e64031; -webkit-box-shadow: inset 0 0 1px 0 #FFFFFF; box-shadow: inset 0 0 1px 0 #FFFFFF}
.btn-danger:hover { background:#6B6B6B; text-shadow:0 1px 2px #333}/*#e64031*/
.btn-danger.btn-large { *line-height:52px}
/*======= common grid =========*/
[class^="col-"] {
float:left}
.col-2 { width:50% }
.col-3 { width:33.33% }
.col-7 { width:70% }

/*======= Calling common image =========*/
[class^="cmnsprt-"] {
 background:url(https://d2q70htueg64l7.cloudfront.net/icon-spirit.png) no-repeat}
[class^="cmnsprt-80"] {
 width:80px;
 height:80px;
 display:block}
[class^="cmnsprt-16"] {
 width:16px;
 height:16px;
 display:inline-block}
[class^="cmnsprt-24"] {
 width:24px;
 height:24px;
 display:inline-block}
[class^="cmnsprt-36"] {
 width:36px;
 height:36px;
 display:inline-block;
 float:left}
/*80 pixel icons*/
.cmnsprt-80.browser { background-position:-176px -80px}
.cmnsprt-80.mob { background-position:-256px -80px}
.cmnsprt-80.mac { background-position:-336px -80px}
.cmnsprt-80.people { background-position: -434px -103px; height: 36px; margin: 0 auto 40px; width: 56px}
/*======24 pixel icons======*/
.cmnsprt-24.safari { background-position:0 -200px}
.cmnsprt-24.opera { background-position:-24px -200px}
.cmnsprt-24.chrome { background-position:-48px -200px}
.cmnsprt-24.mozilla { background-position:-72px -200px}
.cmnsprt-24.apple { background-position:-96px -200px}
.cmnsprt-24.android { background-position:-120px -200px}
.cmnsprt-24.windows { background-position:-144px -200px}
.cmnsprt-24.call { background-position:-168px -200px}
.cmnsprt-24.email { background-position:-192px -200px}
.cmnsprt-24.notificationIcn { background-position:-348px -200px}
/*24 white color icons*/
.cmnsprt-24.textW { background-position:-216px -224px}
.cmnsprt-24.phoneW { background-position:-240px -224px}
/*======36 pixel icons======*/
.cmnsprt-36.user { background-position: 0 -300px }
.cmnsprt-36.res { background-position: -36px -300px }
.cmnsprt-36.admin { background-position: -72px -300px }
.cmnsprt-36.conf { background-position:-108px -300px }
.cmnsprt-36.tag { background-position:-144px -300px }
.cmnsprt-36.dwn { background-position:-180px -300px }
.cmnsprt-36.phone { background-position:-216px -300px }
.cmnsprt-36.route { background-position:-252px -300px }
.cmnsprt-36.twoway { background-position:-288px -300px }
.cmnsprt-36.calcard { background-position:-324px -300px }
.cmnsprt-36.callshop { background-position:-360px -300px }
.cmnsprt-36.addpins { background-position:-396px -300px }
.cmnsprt-36.mngpins { background-position:-433px -300px }
.cmnsprt-36.mngwebsite { background-position:-468px -300px }
.cmnsprt-36.tariffplan { background-position:-504px -300px }
.cmnsprt-36.mngclients { background-position:-540px -300px }
.cmnsprt-36.whitelabel { background-position:-579px -300px }
.cmnsprt-36.addplan { background-position:0 -300px }
.cmnsprt-36.callshop2 { background-position:-614px -300px }
.cmnsprt-36.activecalllog { background-position:-650px -300px }
.cmnsprt-36.sip { background-position:-397px -337px }
.cmnsprt-36.addrefresh { background-position:-432px -337px }
.cmnsprt-36.managoute { background-position:-468px -337px }
.cmnsprt-36.perfix { background-position:-503px -337px }
.cmnsprt-36.mngoperator { background-position:-541px -337px }
.cmnsprt-36.routeAcManage { background-position:-576px -337px }
.cmnsprt-36.block { background-position:-395px -373px }
.cmnsprt-36.callfailerror { background-position:-434px -373px }
.cmnsprt-36.mngClient { background-position:-467px -372px }
.cmnsprt-36.multipleAdmin { background-position:-505px -372px }
.cmnsprt-36.callingcards { background-position:-541px -372px }
.cmnsprt-24.search { background-position:-315px -198px; width:28px; height:28px}
/*white color icons*/
.cmnsprt-36.userW { background-position: 0 -336px }
.cmnsprt-36.resW { background-position: -36px -336px }
.cmnsprt-36.adminW { background-position: -72px -336px }
.cmnsprt-36.confW { background-position:-108px -336px }
.cmnsprt-36.tagW { background-position:-144px -336px }
.cmnsprt-36.dwnW { background-position:-180px -336px }
.cmnsprt-36.phoneW { background-position:-216px -336px }
.cmnsprt-36.routeW { background-position:-252px -336px }
.cmnsprt-36.twowayW { background-position:-288px -336px }
.cmnsprt-36.calcardW { background-position:-324px -336px }
.cmnsprt-36.callshopW { background-position:-360px -336px }
/*16 pixel icons*/
.cmnsprt-16.call { background-position:0 -164px}
.cmnsprt-16.email { background-position:-16px -164px}
/*white color icons in 16 pixel*/
.cmnsprt-16.addW { background-position:0 -180px}
.cmnsprt-16.userW { background-position:-16px -180px}
.cmnsprt-16.emailW { background-position:-32px -180px}
.cmnsprt-16.callW { background-position:-48px -180px}
.cmnsprt-16.quoteW { background-position:-64px -180px}
.cmnsprt-16.editW { background-position:-80px -180px}
.cmnsprt-16.closeW { background-position:-96px -180px}
/*==========info msg section*/
.info-msg { padding:80px 0; font-size:30px}
.info-msg .btn { margin-left:10px; font-size:30px; line-height:inherit; *line-height:35px}
/*for ie*/
nav ul li ul { border:1px solid #dadada\9}
.link a.active, .link a:hover { background-color:#296fa2\9 }
header h1 { width:110px\9}
header h1 a {  *text-indent: 0px}
.social-icon li {  *float:left}
/*flag list*/
#flaglist { background:  #FFFFFF; border: 1px solid #B3B3B3; display: none; height: 300px; left: 1px; list-style: none outside none; margin-top: -5px; overflow: auto; position: absolute; width: 321px; z-index: 99}
#flaglist li { border-bottom:1px solid #dcdcdc}
#flaglist li:hover { background:#eaeaea}
#flaglist li a { display:block; padding:5px 10px; clear:both }
.fltxt { color: #555555; float: left; font-size: 15px; margin-left: 8px; text-transform: uppercase}
.currencySelectDropdown .flag-24 { margin:10px 6px 0 0 }
.flag-24 { width:24px; height:24px; background-image:url(https://d2q70htueg64l7.cloudfront.net/flags-24x24.png); display:block; float:left; margin-right: 6px; margin-top:-1px}
.flag-24.AD { background-position:0 -0px}
.flag-24.AE { background-position:0 -24px}
.flag-24.AF { background-position:0 -48px}
.flag-24.AG { background-position:0 -72px}
.flag-24.AI { background-position:0 -96px}
.flag-24.AL { background-position:0 -120px}
.flag-24.AM { background-position:0 -144px}
.flag-24.AN { background-position:0 -168px}
.flag-24.AO { background-position:0 -192px}
.flag-24.AQ { background-position:0 -216px}
.flag-24.AR { background-position:0 -240px}
.flag-24.AS { background-position:0 -264px}
.flag-24.AT { background-position:0 -288px}
.flag-24.AU { background-position:0 -312px}
.flag-24.AW { background-position:0 -336px}
.flag-24.AZ { background-position:0 -360px}
.flag-24.BA { background-position:0 -384px}
.flag-24.BB { background-position:0 -408px}
.flag-24.BD { background-position:0 -432px}
.flag-24.BE { background-position:0 -456px}
.flag-24.BF { background-position:0 -480px}
.flag-24.BG { background-position:0 -504px}
.flag-24.BH { background-position:0 -528px}
.flag-24.BI { background-position:0 -552px}
.flag-24.BJ { background-position:0 -576px}
.flag-24.BM { background-position:0 -600px}
.flag-24.BN { background-position:0 -624px}
.flag-24.BO { background-position:0 -648px}
.flag-24.BR { background-position:0 -672px}
.flag-24.BS { background-position:0 -696px}
.flag-24.BT { background-position:0 -720px}
.flag-24.BV { background-position:0 -744px}
.flag-24.BW { background-position:0 -768px}
.flag-24.BY { background-position:0 -792px}
.flag-24.BZ { background-position:0 -816px}
.flag-24.CA { background-position:0 -840px}
.flag-24.CC { background-position:0 -864px}
.flag-24.CD { background-position:0 -888px}
.flag-24.CF { background-position:0 -912px}
.flag-24.CG { background-position:0 -936px}
.flag-24.CH { background-position:0 -960px}
.flag-24.CI { background-position:0 -984px}
.flag-24.CK { background-position:0 -1008px}
.flag-24.CL { background-position:0 -1032px}
.flag-24.CM { background-position:0 -1056px}
.flag-24.CN { background-position:0 -1080px}
.flag-24.CO { background-position:0 -1104px}
.flag-24.CR { background-position:0 -1128px}
.flag-24.CU { background-position:0 -1152px}
.flag-24.CV { background-position:0 -1176px}
.flag-24.CX { background-position:0 -1200px}
.flag-24.CY { background-position:0 -1224px}
.flag-24.CZ { background-position:0 -1248px}
.flag-24.DE { background-position:0 -1272px}
.flag-24.DJ { background-position:0 -1296px}
.flag-24.DK { background-position:0 -1320px}
.flag-24.DM { background-position:0 -1344px}
.flag-24.DO { background-position:0 -1368px}
.flag-24.DZ { background-position:0 -1392px}
.flag-24.EC { background-position:0 -1416px}
.flag-24.EE { background-position:0 -1440px}
.flag-24.EG { background-position:0 -1464px}
.flag-24.EH { background-position:0 -1488px}
.flag-24.ER { background-position:0 -1512px}
.flag-24.ES { background-position:0 -1536px}
.flag-24.ET { background-position:0 -1560px}
.flag-24.FI { background-position:0 -1584px}
.flag-24.FJ { background-position:0 -1608px}
.flag-24.FK { background-position:0 -1632px}
.flag-24.FM { background-position:0 -1656px}
.flag-24.FO { background-position:0 -1680px}
.flag-24.FR { background-position:0 -1704px}
.flag-24.GA { background-position:0 -1728px}
.flag-24.GB { background-position:0 -1752px}
.flag-24.GD { background-position:0 -1776px}
.flag-24.GE { background-position:0 -1800px}
.flag-24.GF { background-position:0 -1824px}
.flag-24.GH { background-position:0 -1848px}
.flag-24.GI { background-position:0 -1872px}
.flag-24.GL { background-position:0 -1896px}
.flag-24.GM { background-position:0 -1920px}
.flag-24.GN { background-position:0 -1944px}
.flag-24.GP { background-position:0 -1968px}
.flag-24.GQ { background-position:0 -1992px}
.flag-24.GR { background-position:0 -2016px}
.flag-24.GS { background-position:0 -2040px}
.flag-24.GT { background-position:0 -2064px}
.flag-24.GU { background-position:0 -2088px}
.flag-24.GW { background-position:0 -2112px}
.flag-24.GY { background-position:0 -2136px}
.flag-24.HK { background-position:0 -2160px}
.flag-24.HM { background-position:0 -2184px}
.flag-24.HN { background-position:0 -2208px}
.flag-24.HR { background-position:0 -2232px}
.flag-24.HT { background-position:0 -2256px}
.flag-24.HU { background-position:0 -2280px}
.flag-24.ID { background-position:0 -2304px}
.flag-24.IE { background-position:0 -2328px}
.flag-24.IL { background-position:0 -2352px}
.flag-24.IN { background-position:0 -2376px}
.flag-24.IO { background-position:0 -2400px}
.flag-24.IQ { background-position:0 -2424px}
.flag-24.IR { background-position:0 -2448px}
.flag-24.IS { background-position:0 -2472px}
.flag-24.IT { background-position:0 -2496px}
.flag-24.JM { background-position:0 -2520px}
.flag-24.JO { background-position:0 -2544px}
.flag-24.JP { background-position:0 -2568px}
.flag-24.KE { background-position:0 -2592px}
.flag-24.KG { background-position:0 -2616px}
.flag-24.KH { background-position:0 -2640px}
.flag-24.KI { background-position:0 -2664px}
.flag-24.KM { background-position:0 -2688px}
.flag-24.KN { background-position:0 -2712px}
.flag-24.KP { background-position:0 -2736px}
.flag-24.KR { background-position:0 -2760px}
.flag-24.KW { background-position:0 -2784px}
.flag-24.KY { background-position:0 -2808px}
.flag-24.KZ { background-position:0 -2832px}
.flag-24.LA { background-position:0 -2856px}
.flag-24.LB { background-position:0 -2880px}
.flag-24.LC { background-position:0 -2904px}
.flag-24.LI { background-position:0 -2928px}
.flag-24.LK { background-position:0 -2952px}
.flag-24.LR { background-position:0 -2976px}
.flag-24.LS { background-position:0 -3000px}
.flag-24.LT { background-position:0 -3024px}
.flag-24.LU { background-position:0 -3048px}
.flag-24.LV { background-position:0 -3072px}
.flag-24.LY { background-position:0 -3096px}
.flag-24.MA { background-position:0 -3120px}
.flag-24.MC { background-position:0 -3144px}
.flag-24.MD { background-position:0 -3168px}
.flag-24.ME { background-position:0 -3192px}
.flag-24.MG { background-position:0 -3216px}
.flag-24.MH { background-position:0 -3240px}
.flag-24.MK { background-position:0 -3264px}
.flag-24.ML { background-position:0 -3288px}
.flag-24.MM { background-position:0 -3312px}
.flag-24.MN { background-position:0 -3336px}
.flag-24.MO { background-position:0 -3360px}
.flag-24.MP { background-position:0 -3384px}
.flag-24.MQ { background-position:0 -3408px}
.flag-24.MR { background-position:0 -3432px}
.flag-24.MS { background-position:0 -3456px}
.flag-24.MT { background-position:0 -3480px}
.flag-24.MU { background-position:0 -3504px}
.flag-24.MV { background-position:0 -3528px}
.flag-24.MW { background-position:0 -3552px}
.flag-24.MX { background-position:0 -3576px}
.flag-24.MY { background-position:0 -3600px}
.flag-24.MZ { background-position:0 -3624px}
.flag-24.NA { background-position:0 -3648px}
.flag-24.NC { background-position:0 -3672px}
.flag-24.NE { background-position:0 -3696px}
.flag-24.NF { background-position:0 -3720px}
.flag-24.NG { background-position:0 -3744px}
.flag-24.NI { background-position:0 -3768px}
.flag-24.NL { background-position:0 -3792px}
.flag-24.NO { background-position:0 -3816px}
.flag-24.NP { background-position:0 -3840px}
.flag-24.NR { background-position:0 -3864px}
.flag-24.NU { background-position:0 -3888px}
.flag-24.NZ { background-position:0 -3912px}
.flag-24.OM { background-position:0 -3936px}
.flag-24.PA { background-position:0 -3960px}
.flag-24.PE { background-position:0 -3984px}
.flag-24.PF { background-position:0 -4008px}
.flag-24.PG { background-position:0 -4032px}
.flag-24.PH { background-position:0 -4056px}
.flag-24.PK { background-position:0 -4080px}
.flag-24.PL { background-position:0 -4104px}
.flag-24.PM { background-position:0 -4128px}
.flag-24.PN { background-position:0 -4152px}
.flag-24.PR { background-position:0 -4176px}
.flag-24.PS { background-position:0 -4200px}
.flag-24.PT { background-position:0 -4224px}
.flag-24.PW { background-position:0 -4248px}
.flag-24.PY { background-position:0 -4272px}
.flag-24.QA { background-position:0 -4296px}
.flag-24.RE { background-position:0 -4320px}
.flag-24.RO { background-position:0 -4344px}
.flag-24.RS { background-position:0 -4368px}
.flag-24.RU { background-position:0 -4392px}
.flag-24.RW { background-position:0 -4416px}
.flag-24.SA { background-position:0 -4440px}
.flag-24.SB { background-position:0 -4464px}
.flag-24.SC { background-position:0 -4488px}
.flag-24.SD { background-position:0 -4512px}
.flag-24.SE { background-position:0 -4536px}
.flag-24.SG { background-position:0 -4560px}
.flag-24.SH { background-position:0 -4584px}
.flag-24.SI { background-position:0 -4608px}
.flag-24.SJ { background-position:0 -4632px}
.flag-24.SK { background-position:0 -4656px}
.flag-24.SL { background-position:0 -4680px}
.flag-24.SM { background-position:0 -4704px}
.flag-24.SN { background-position:0 -4728px}
.flag-24.SO { background-position:0 -4752px}
.flag-24.SR { background-position:0 -4776px}
.flag-24.ST { background-position:0 -4800px}
.flag-24.SV { background-position:0 -4824px}
.flag-24.SY { background-position:0 -4848px}
.flag-24.SZ { background-position:0 -4872px}
.flag-24.TC { background-position:0 -4896px}
.flag-24.TD { background-position:0 -4920px}
.flag-24.TF { background-position:0 -4944px}
.flag-24.TG { background-position:0 -4968px}
.flag-24.TH { background-position:0 -4992px}
.flag-24.TJ { background-position:0 -5016px}
.flag-24.TK { background-position:0 -5040px}
.flag-24.TL { background-position:0 -5064px}
.flag-24.TM { background-position:0 -5088px}
.flag-24.TN { background-position:0 -5112px}
.flag-24.TO { background-position:0 -5136px}
.flag-24.TR { background-position:0 -5160px}
.flag-24.TT { background-position:0 -5184px}
.flag-24.TV { background-position:0 -5208px}
.flag-24.TW { background-position:0 -5232px}
.flag-24.TZ { background-position:0 -5256px}
.flag-24.UA { background-position:0 -5280px}
.flag-24.UG { background-position:0 -5304px}
.flag-24.UM { background-position:0 -5328px}
.flag-24.US { background-position:0 -5352px}
.flag-24.UY { background-position:0 -5376px}
.flag-24.UZ { background-position:0 -5400px}
.flag-24.VA { background-position:0 -5424px}
.flag-24.VC { background-position:0 -5448px}
.flag-24.VE { background-position:0 -5472px}
.flag-24.VG { background-position:0 -5496px}
.flag-24.VI { background-position:0 -5520px}
.flag-24.VN { background-position:0 -5544px}
.flag-24.VU { background-position:0 -5568px}
.flag-24.WF { background-position:0 -5592px}
.flag-24.WS { background-position:0 -5616px}
.flag-24.YE { background-position:0 -5640px}
.flag-24.YT { background-position:0 -5664px}
.flag-24.ZA { background-position:0 -5688px}
.flag-24.ZM { background-position:0 -5712px}
.flag-24.ZW { background-position:0 -5736px}
.flag-24.INT { background-position:0 -5760px}
.flag-24.undefined {  background-position: 0 -5787px;    height: 22px}
